<div class="container-fluid">
    <div class="row">
        <p class="display-1 fw-bold">TOPIC</p>
    </div>
    <div class="container d-flex justify-content-center align-items-center flex-wrap">
        {{#each data}}
            <a name="{{this.name}}" id="{{this.id}}" style="background-image: url('{{this.image}}');"  class="btn p-5 m-5"  href="/pages/{{this.name}}" role="button"><p style="width: 20rem;" class="fw-bold display-5 text-light">{{this.name}}</p></a>
        {{/each}}
    </div>
</div>